
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="contacts-wrap">
			<div class="cnt-title">По любым вопросам, обращайтесь:</div>
			<div class="cnt-phone">
				<a href="tel:81231231212" class="link-phone">+7 (123) 123 12 12</a>
			</div>
			<div class="cnt-info">Принимаем звонки без выходных с 9:00 - 23:00</div>
			<div class="cnt-soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tt.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
		</div>
		<div class="menu-wrap">
			<ul class="menu">
				<li><a href="">Главная</a></li>
				<li><a href="">Цены</a></li>
				<li><a href="">Калькулятор</a></li>
				<li><a href="">Портфолио</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<ul class="menu menu-second">
				<li><a href="">Поклейка бумажных обоев</a></li>
				<li><a href="">Поклейка виниловых обоев</a></li>
				<li><a href="">Поклейка флизелиновых обоев</a></li>
				<li><a href="">Поклейка фото обоев</a></li>
			</ul>
			<ul class="menu menu-third">
				<li><a href="">Стеклообои покраска и поклейка</a></li>
				<li><a href="">Поклейка текстильных обоев</a></li>
				<li><a href="">Поклейка натуральных обоев</a></li>
				<li><a href="">Покраска стен и потолков</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--popup-box-->
<div class="popup-box" id="popup-callback">
	<form action="/" class="frm-popup">
		<div class="frm-popup-title-wrap">
			<div class="frm-popup-title">Оставьте заявку</div>
			<p>мы обязательно перезвоним вам и поможем с расчетом</p>
		</div>
		<div class="frm-row">
			<input type="text" class="form-input" placeholder="Ваш телефон">
		</div>
		<div class="frm-row">
			<select class="form-input">
				<option value="" disabled selected >Вид работы</option>
			</select>
		</div>
		<div class="frm-row">
			<div class="frm-info">Нажимая на кнопку, даю согласие на обработку Персональных данных</div>
		</div>
		<div class="frm-row-submit">
			<button type="submit" class="btn">Отправить заявку</button>
		</div>
	</form>
</div><!--/popup-box-->